/* Main EmpireBS CSS */

/********************************* NAVBAR */
.navbar-inverse {
   background-color: #fff;
   /* border-color: #080808; */
 }
 
 .navbar-inverse .navbar-brand {
   color: #d9e1e8;
 }
 
 .navbar-inverse .navbar-nav > li > a {
   color: #4a4a4a;
 }
 
 .navbar {
   position: absolute;
   min-height: 50px;
   margin-bottom: 0px;
   border: 1px solid transparent;
 }
 
 .navbar-brand {
   font-size: 24px;
 }
 
 .navbar-right > li {
   font-size: 18px; 
   margin-top: 15px;
 }
 
 .navbar-header > a {
   margin-bottom: 20px;
 }
 
 #navbar-brand {
    width: 166px; 
    height: 31px;
 }

 .nav-item {
   font-family: 'Open Sans', sans-serif;
   font-size: 10px;
   color: #4a4a4a;
 }
 
 .dropdown-menu {
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   font-size: 14px;
   text-align: left;
   list-style: none;
   background-color: #d9e1e8;
   -webkit-background-clip: padding-box;
           background-clip: padding-box;
   border: 1px solid #ccc;
   border: 1px solid rgba(0, 0, 0, .15);
   border-radius: 4px;
   -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
           box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
 }
 
/********************************* CAROUSEL */

.carousel {
   margin-top: 60px;
}

/********************************* MISC */

.empire-icons {
   width: 246px;
   height: 124px;
   object-fit: contain;
 }

.empire-icons-text {
   margin-top: 35px;
   width: 650px;
   height: 84px;
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: 0.9;
   letter-spacing: normal;
   color: #58585b;
 }

.our-text {
   width: 494px;
   height: 142px;
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   color: #2199d2;
 }

.at-empire {
   width: 480px;
   height: 275px;
   object-fit: contain; 
}

.at-empire-text {
   width: 395px;
   height: 142px;
   font-family: Montserrat;
   font-size: 13.5px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: 2.11;
   letter-spacing: normal;
   color: #4a4a4a;
}

.locator-rect {
   width: 1920px;
   height: 51px;
   background-color: #2199d2; 
}

.locator-text {
   /* width: 162px;
   height: 28px; */
   object-fit: contain;
   font-family: Lato;
   font-size: 16px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: 1.3px;
   text-align: center;
   margin-top: 15px;
   color: #fee00d;
}

.productLine-text {
   /* width: 1032px;
   height: 56px; */
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: center;
   margin-top: 30px;
   color: #2199d2;
}

.product-pic {
   width: 512px;
   height: 512px;
   object-fit: contain;
}

.flower-grid {
   margin-top: 57px;
   width: 960px;
   height: 433px;
   object-fit: contain;
 }

.menu-rect {
   /* align-self: auto; */
   margin-left: 330px;
   width: 290.8px;
   height: 53px;
   border-radius: 26px;
   background-color: #fee00d;
}

.menu-text {
   text-align: center;
   width: 210.5px;
   height: 30.8px;
   font-family: OpenSans;
   font-size: 18.4px;
   font-weight: bold;
   font-style: normal;
   font-stretch: condensed;
   line-height: normal;
   letter-spacing: 1.5px;
   color: #2199d2;
}

.join-text {
   width: 1032px;
   height: 56px;
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: center;
   color: #2199d2; 
}


div.scrollmenu {
   background-color: #333;
   overflow: auto;
   white-space: nowrap;
   width: 100%;
 }
 
 div.scrollmenu a {
   display: inline-block;
   color: white;
   text-align: center;
   /* padding: 14px; */
   text-decoration: none;
 }
 
 .connect-with-us {
   /* width: 137px;
   height: 21px; */
   font-family: Lato;
   font-size: 12px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #ffffff;
}

.stay-up-to-date {
   /* width: 352px;
   height: 33px; */
   font-family: Lato;
   font-size: 12px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   text-align: right;
   color: #ffffff; 
}

.footer {
   width: 1919px;
   height: 305px; 
}

hr { 
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 97%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 0.5px solid #aaaaaa;
   border-bottom: -0.5px solid #ffffff;
}

.footer-col-headers {
   /* width: 92px;
   height: 28px; */
   font-family: Montserrat;
   font-size: 13.8px;
   /* font-size: 8px; */
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: 0.8px;
   color: #ffffff; 
}

.footer-columns {
   /* width: 92px;
   height: 148px; */
   font-family: Montserrat;
   font-size: 12.2px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: 0.8px;
   color: #ffffff;
 }

 .terms-of-use {
   /* width: 82px;
   height: 33px; */
   font-family: Lato;
   font-size: 12px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #ffffff;
 }

 .vertical-align {
     display: flex;
     align-items: center;
 }
 