/* Main EmpireBS CSS */

/********************************* NAVBAR */
.navbar-inverse {
   background-color: #fff;
   /* border-color: #080808; */
}
 
.navbar-inverse .navbar-brand {
   color: #d9e1e8;
}
 
.navbar-inverse .navbar-nav > li > a {
   color: #4a4a4a;
}
 
.navbar {
   position: absolute;
   min-height: 50px;
   margin-bottom: 0px;
   border: 1px solid transparent;
}
 
.navbar-brand {
   font-size: 24px;
}
 
.navbar-right > li {
   font-size: 18px; 
   margin-top: 15px;
}
 
.navbar-header > a {
   margin-bottom: 20px;
}
 
#navbar-brand {
    width: 166px; 
    height: 31px;
}

.nav-item {
   font-family: 'Open Sans', sans-serif;
   font-size: 10px;
   color: #4a4a4a;
}
 
.dropdown-menu {
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   font-size: 14px;
   text-align: left;
   list-style: none;
   background-color: #d9e1e8;
   -webkit-background-clip: padding-box;
           background-clip: padding-box;
   border: 1px solid #ccc;
   border: 1px solid rgba(0, 0, 0, .15);
   border-radius: 4px;
   -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
           box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-item {
    font-family: 'Open Sans';
    font-size: 10px;
}
 
/********************************* CAROUSEL */

.carousel {
   margin-top: 60px;
}

/********************************* ICONS */

.empire-icons-text {
   text-align: left;
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: 0.9;
   letter-spacing: normal;
   color: #58585b;
}

 /********************************* OUR/AT */
.our-text {
   /* width: 494px;
   height: 142px; */
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   color: #2199d2;
}

.at-empire {
   max-width: 100%;
   height: 275;
   /* width: 480px;
   height: 275px;  */
   /* object-fit: contain;  */
}

.at-empire-text {
   /* width: 395px;
   height: 142px; */
   font-family: Montserrat;
   font-size: 13.5px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: 2.11;
   letter-spacing: normal;
   color: #4a4a4a;
}

/********************************* MISC */

.store-locator {
   margin-top: 20px;
   /* width: 100%; */
   height: 51px;
   background-color: #2199d2; 
}

.locator-text {
   /* width: 162px;
   height: 28px; */
   object-fit: contain;
   font-family: Lato;
   font-size: 16px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: 1.3px;
   text-align: center;
   margin-top: 15px;
   color: #fee00d;
}

.productLine-text {
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: center;
   margin-top: 30px;
   color: #2199d2;
}

.product-pic {
   width: 512px;
   height: 512px;
}

.flower-grid {
   margin-top: 57px;
   /* width: 960px;
   height: 433px; */
   object-fit: contain;
}

.menu-rect {
   align-self: auto;
   /* margin-left: 330px; */
   /* width: 20%; */
   /* width: 290.8px; */
   height: 53px;
   border-radius: 26px;
   background-color: #fee00d;
}

.menu-text {
   text-align: center;
   width: 210.5px;
   height: 30.8px;
   font-family: OpenSans;
   font-size: 18.4px;
   font-weight: bold;
   font-style: normal;
   font-stretch: condensed;
   line-height: normal;
   letter-spacing: 1.5px;
   color: #2199d2;
}

.join-text {
   /* width: 1032px;
   height: 56px; */
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: center;
   color: #2199d2; 
}

div.scrollmenu {
   background-color: white;
   overflow: auto;
   white-space: nowrap;
   width: 100%;
}
 
div.scrollmenu a {
   display: inline-block;
   color: white;
   text-align: center;
   /* padding: 14px; */
   text-decoration: none;
}
 
.connect-with-us {
   /* width: 137px;
   height: 21px; */
   font-family: Lato;
   font-size: 12px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #ffffff;
}

.stay-up-to-date {
   /* width: 352px;
   height: 33px; */
   font-family: Lato;
   font-size: 12px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   text-align: right;
   color: #ffffff; 
}

/********************************* MISC */
hr { 
   display: block;
   position: relative;
   padding: 0;
   margin-top: 4px;
   margin-bottom: 16px;
   height: 0;
   /* width: 97%; */
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 0.5px solid #aaaaaa;
   border-bottom: -0.5px solid #ffffff;
}

.footer-col-headers {
   font-family: Montserrat;
   font-size: 13.8px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: 0.8px;
   color: #ffffff; 
}

.footer-columns {
   /* margin-bottom: 50px; */
   font-family: Montserrat;
   font-size: 12.2px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: 30px;
   letter-spacing: 0.8px;
   color: #ffffff;
}

.terms-of-use {
   /* width: 82px;
   height: 33px; */
   margin-left: -30px;
   font-family: Lato;
   font-size: 12px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #ffffff;
}

.vertical-align {
   display: flex;
   align-items: center;
}
 
/*************************************** */
/********************************* ABOUT */
.about-our-cannabis {
   width: 494px;
   height: 73px;
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: center;
   color: #2199d2;
}

.about-lorem-ipsum {
   width: 616px;
   height: 437px;
   font-family: Montserrat;
   font-size: 13.5px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: 2.11;
   letter-spacing: normal;
   color: #4a4a4a;
}

.columbia-river-basin {
   margin-top: 80px;
   width: 1032px;
   height: 73px;
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: center;
   color: #2199d2;
}

.keep-it-simple {
   font-family: Montserrat-Bold;
   font-size: 25.5px;
   line-height: 37.5px;
   color: #2199d2;
   font-style: normal;
}

.keep-it-simple-text {
   font-family: Montserrat-Light;
   font-size: 13.5px;
   line-height: 28.5px;
   color: #4a4a4a;
   font-style: normal;
}

.where-to-find {
   width: 494px;
   height: 73px;
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: center;
   color: #2199d2;
}

.interested-in-joining {
   width: 494px;
   height: 73px;
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: center;
   color: #2199d2;
}

.want-to-connect {
   width: 494px;
   height: 73px;
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: center;
   color: #2199d2;
}

.form {
   width: 154px;
   /* height: 23px; */
   font-family: Montserrat;
   font-size: 13.5px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #4a4a4a;
}

.flower-menu {
   width: 1003px;
   height: 73px;
   font-family: Montserrat;
   font-size: 32px;
   font-weight: 500;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: 1px;
   text-align: center;
   color: #2199d2;
}

.prerolls-menu {
   width: 1003px;
   height: 47px;
   font-family: Montserrat;
   font-size: 32px;
   font-weight: 500;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: 1px;
   text-align: center;
   color: #2199d2;
}

.delta-carts {
   width: 489px;
   height: 47px;
   font-family: Montserrat;
   font-size: 24px;
   font-weight: 500;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: 1px;
   text-align: center;
   color: #2199d2;
} 

.thank-you {
   width: 1003px;
   height: 73px;
   font-family: Montserrat;
   font-size: 24px;
   font-weight: 500;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: 1px;
   text-align: center;
   color: #4a4a4a;
}

.our-farm {
   width: 494px;
   height: 73px;
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: center;
   color: #2199d2;
}

.our-line-is {
   width: 665px;
   height: 56px;
   font-family: Montserrat;
   font-size: 13.5px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: 2.11;
   letter-spacing: normal;
   text-align: center;
   color: #4a4a4a;  
}
