/* Main EmpireBS CSS */

/***********************************************/
/*********************************  NAVBAR  ****/
/***********************************************/
.navbar-inverse {
   background-color: #fff;
   /* border-color: #080808; */
}
 
.navbar-inverse .navbar-brand {
   color: #d9e1e8;
}
 
.navbar-inverse .navbar-nav > li > a {
   color: #4a4a4a;
}
 
.navbar {
   /* position: fixed; */
   width: 100%;
   z-index: 1000;
   /* min-height: 50px;
   margin-bottom: 0px;
   border: 1px solid transparent; */
}
 
.navbar-brand {
   font-size: 24px;
}
 
.navbar-right > li {
   font-size: 18px; 
   margin-top: 15px;
}
 
.navbar-header > a {
   margin-bottom: 20px;
}
 
#navbar-brand {
    width: 166px; 
    height: 31px;
}

.nav-item {
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   /* color: #2199d2; */
}

.nav-link {
   color: #2199d2;
}

/***********************************************/
/*******************************  CAROUSEL  ****/
/***********************************************/
.carousel {
   margin-top: 60px;
}

/***********************************************/
/************************************  MAP  ****/
/***********************************************/
#map {
   width: 100%;
   height: 500px;
   margin-top: 20px;
}
  
/***********************************************/
/***********************************  MISC  ****/
/***********************************************/
div.scrollmenu {
   background-color: white;
   overflow: auto;
   white-space: nowrap;
   width: 100%;
}
 
div.scrollmenu a {
   display: inline-block;
   color: white;
   text-align: center;
   /* padding: 14px; */
   text-decoration: none;
}
 
hr { 
   display: block;
   position: relative;
   padding: 0;
   margin-top: 4px;
   margin-bottom: 16px;
   height: 0;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 0.5px solid #aaaaaa;
   border-bottom: -0.5px solid #ffffff;
}

.vertical-align {
   display: flex;
   align-items: center;
}
 
.form {
   width: 154px;
   font-family: Montserrat;
   font-size: 13.5px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #4a4a4a;
}

a {
   color: white;
   text-decoration: none;
}

.input-border {
   border: none;
   border-bottom: 1px solid black;
   border-radius: 0px;
}

@media (min-width: 768px) {
   .pt-md-6,
   .py-md-6 {
     padding-top: 5rem !important;
   }

   .pr-md-6,
   .px-md-6 {
     padding-right: 5rem !important;
   }

   .pb-md-6,
   .py-md-6 {
     padding-bottom: 5rem !important;
   }

   .pl-md-6,
   .px-md-6 {
     padding-left: 5rem !important;
   }
}

/***********************************************/
/*****************************  ABOUT PAGE  ****/
/***********************************************/
.about-our-cannabis {
   width: 494px;
   height: 73px;
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: center;
   color: #2199d2;
}

.keep-it-simple-text {
   font-family: Montserrat-Light;
   font-size: 13.5px;
   line-height: 28.5px;
   color: #4a4a4a;
   font-style: normal;
}

.columbia-river-basin {
   margin-top: 80px;
   margin-bottom: -40px;
   width: 1032px;
   height: 73px;
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: center;
   color: #2199d2;
}

.keep-it-simple {
   font-family: Montserrat-Bold;
   font-size: 25.5px;
   line-height: 37.5px;
   color: #2199d2;
   font-style: normal;
}

/***********************************************/
/***************************  CONTACT PAGE  ****/
/***********************************************/
.want-to-connect {
   width: 494px;
   height: 73px;
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: center;
   color: #2199d2;
}

/***********************************************/
/***************************  DELTA 8 PAGE  ****/
/***********************************************/

/***********************************************/
/***************************  DELTA 9 PAGE  ****/
/***********************************************/

/***********************************************/
/******************************  FIND PAGE  ****/
/***********************************************/
.where-to-find {
   width: 494px;
   height: 73px;
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: center;
   color: #2199d2;
}

/***********************************************/
/****************************  FLOWER PAGE  ****/
/***********************************************/

/***********************************************/
/****************************  FOOTER PAGE  ****/
/***********************************************/
.footer-col-headers {
   font-family: Montserrat;
   font-size: 13.8px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: 0.8px;
   color: #ffffff; 
}

.footer-columns {
   font-family: Montserrat;
   font-size: 12.2px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: 30px;
   letter-spacing: 0.8px;
   color: #ffffff;
}

/***********************************************/
/****************************  HEADER PAGE  ****/
/***********************************************/
.dropdown-menu {
   float: left;
   max-width: 160px;
   /* background-color: #d9e1e8; */
}

.dropdown-item {
    font-family: 'Open Sans';
    font-size: 14px;
}
 
/***********************************************/
/*****************************  INDEX PAGE  ****/
/***********************************************/
.empire-icons {
   margin: auto;
   display: block;
}

.empire-icons-text {
   text-align: center;
   /* margin-top: 40px; */
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.9;
   letter-spacing: normal;
   color: #58585b;
}

.our-text {
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: left;
   /* padding-left: 100px;
   padding-right: 20px; */
   color: #2199d2;
}

.at-empire {
   max-width: 100%;
   height: 275;
   padding-left: 0px;
   padding-right: 0px;
}

.at-empire-text {
   font-family: Montserrat;
   font-size: 13.5px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: 2.11;
   letter-spacing: normal;
   text-align: left;
   /* padding-left: 100px;
   padding-right: 20px; */
   color: #4a4a4a;
}

.locator-text {
   object-fit: contain;
   font-family: Lato;
   font-size: 16px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: 1.3px;
   text-align: center;
   margin-top: 15px;
   color: #fee00d;
}

.productLine-text {
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: center;
   margin-top: 30px;
   color: #2199d2;
}

.flower-grid {
   margin-top: 57px;
   object-fit: contain;
}

/***********************************************/
/**********************  JOIN SECTION PAGE  ****/
/***********************************************/
.join-text {
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: center;
   color: #2199d2; 
}

/***********************************************/
/*****************************  ORDER PAGE  ****/
/***********************************************/
.flower-menu {
   width: 1003px;
   height: 73px;
   font-family: Montserrat;
   font-size: 32px;
   font-weight: 500;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: 1px;
   text-align: center;
   color: #2199d2;
}

.prerolls-menu {
   width: 1003px;
   height: 47px;
   font-family: Montserrat;
   font-size: 32px;
   font-weight: 500;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: 1px;
   text-align: center;
   color: #2199d2;
}

.delta-carts {
   font-family: Montserrat;
   font-size: 24px;
   font-weight: 500;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: 1px;
   text-align: center;
   color: #2199d2;
} 

/***********************************************/
/***************************  PARTNER PAGE  ****/
/***********************************************/
.interested-in-joining {
   width: 494px;
   height: 73px;
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: center;
   margin-top: 15px;
   color: #2199d2;
}

/***********************************************/
/*************************  PRE-ROLLS PAGE  ****/
/***********************************************/

/***********************************************/
/***************************  PRIVACY PAGE  ****/
/***********************************************/

/***********************************************/
/**************************  PRODUCTS PAGE  ****/
/***********************************************/
.our-farm {
   margin-top: 25px;
   font-family: Montserrat;
   font-size: 25.5px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: center;
   color: #2199d2;
}

.our-line-is {
   width: 665px;
   height: 56px;
   font-family: Montserrat;
   font-size: 13.5px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: 2.11;
   letter-spacing: normal;
   text-align: center;
   color: #4a4a4a;  
}

/***********************************************/
/**************************  RETAILER PAGE  ****/
/***********************************************/

/***********************************************/
/*****************************  TERMS PAGE  ****/
/***********************************************/
.terms-of-use {
   margin-left: -30px;
   font-family: Lato;
   font-size: 12px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #ffffff;
}

